@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  overflow: visible !important;
} */

html {
  @apply scrollbar scrollbar-thumb-pink-300 scrollbar-track-yellow-100;
  background: linear-gradient(
    135deg,
    #ffd1dc,
    #fff4e6
  ); /* Pastel pink and yellow gradient */
}

header {
  z-index: 1000; /* Ensure it stays above all content */
}
nav {
  display: flex; /* Align items horizontally */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Vertically center items */
  gap: 1rem; /* Add space between items */
}

html,
body {
  height: 100%; /* Ensure the body takes full height of the viewport */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
  color: #4a4a4a;
  background: #ffe6f0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensure the app takes at least the full viewport height */
}

header {
  background-color: #ffcc00; /* Yellow header */
  color: #4a4a4a; /* Text color for the header */
  padding: 1rem;
  z-index: 1000; /* Ensure it stays above all content */
  border-bottom: 0px solid #ff69b4; /* Slightly darker pastel pink */
}

nav button {
  color: white; /* White text for navigation buttons */
  font-weight: bold;
  background-color: #FACC15CC; /* Pastel pink highlight */
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #ff85a1; /* Slightly darker pastel pink */
}

main {
  flex: 1; /* Push footer to the bottom */
  overflow: visible !important;
}

section {
  margin: 0 auto;
  padding: 0;
  width: 100%; /* Ensure sections span the full width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ensuring the banner scales properly */
.bg-cover {
  background-size: cover;
  background-position: center;
  height: 50vh; /* Default height */
  width: 100%;

  @media (max-width: 768px) {
    height: 15vh; /* Smaller height for medium and small screens */
  }

  @media (min-width: 1024px) {
    height: 30vh; /* Larger height for desktops */
  }
}

/* Pizza carousel scaling */
.carousel-wrapper {
  display: none; /* Hide by default */
}

@media (min-width: 1024px) {
  .carousel-wrapper {
    display: flex; /* Show only on large screens */
  }
}
