@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scrollbar scrollbar-thumb-gray-500 scrollbar-track-gray-800;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}
nav {
  display: flex; /* Align items horizontally */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Vertically center items */
  gap: 1rem; /* Add space between items */
}

html,
body {
  height: 100%; /* Ensure the body takes full height of the viewport */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Ensure the app takes at least the full viewport height */
}

main {
  flex: 1; /* Push footer to the bottom */
}

header + section {
  margin-top: 0; /* Ensure no gap between header and the next section */
}
section {
  margin: 0; /* Ensure no gaps for all sections */
  padding: 0; /* Reset padding for sections */
}

header + section,
section:first-of-type {
  margin: 0;
  padding: 0;
}
